h1{
    color: rgb(31, 9, 125);
    font-size: 45px;
}
h2{
    color: rgb(195, 22, 2);
    font-size: 33px;
}
h4{
    color: rgb(19, 19, 19);
    font-size: 25px;

}
body{
    background-image:url(calculadora.jpg);
    color: rgb(15, 11, 11);
    font-size: larger;
}


    
